body{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

}
.divisorH{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 50em;

    background-color: teal;
}

.square{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em;
    height: 4em;
    width: 4em;
    border-radius: 10%;
    background-color: violet;

    text-decoration: unset;
    color: #1b1717;
    font: bold;
    font-family: fantasy;
    /* #eeebdd #810000 #630000 #1b1717 */
 
    
}

/* .square:hover{
    transition: 1s cubic-bezier(.32,-0.45,.68,1.48);
    opacity: 0;
}

.square:active{
    transition: 1s cubic-bezier(.32,-0.45,.68,1.48);
    opacity: 1;
    background-image: radial-gradient(red 25%, white 75%);
} */

