
body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.header{
    width: 20em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    flex-direction: row;
}

.b{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 50em;
    width: 40em;
    border-radius: 2em;
    background-color: #1D1D1F;
    /* #eeebdd #810000 #630000 #1b1717 */
}

.contenedor {

    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 4em;
    margin: 2em; /* ELIMINAR ANTES DE LA VERSIÓN FINAL*/
}

 /* .gradients1{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background: linear-gradient(90deg, transparent, teal, yellow);
}
.gradients2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background-color: teal;
    background: linear-gradient(to right, transparent, teal), linear-gradient(to left, transparent, yellow),

    yellow repeating-linear-gradient(transparent, transparent 0em,

    rgba(221, 0, 0, 0.5) 2em, teal 2em);
}
.gradients3{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background: linear-gradient(90deg, teal, yellow, transparent);
}  */

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(216, 216, 216);
    font-size: 0.7em;
}

.link{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;
    border-radius: 0.6em;
    border: solid 0.1em rgb(216, 216, 216);

    text-decoration: none;

    text-decoration: unset;
    
    /* #eeebdd #810000 #630000 #1b1717 */
}

.link:hover{
    transition: 1s cubic-bezier(.32,-0.45,.68,1.48);
    height: 3em;
    width: 3em;
    transform: rotate(360deg);
}

/* .text:hover{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 0.3em;
    width: 0.3em;
} */



    .divisorH{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;
    
        background-color: rgba(0, 128, 128, 0);
    }
    
    .square{
        box-sizing: border-box; 
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 2em;
        width: 2em;
        border-radius: 10%;
    
        text-decoration: unset;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(216, 216, 216);

        /* #eeebdd #810000 #630000 #1b1717 */
        
    }

    .nombre{
        outline: none;
        border-radius: 0.6em;
        border: solid 0.1em white;
        color: white;
        background-color: rgba(0, 128, 128, 0);
        font-size: 1em;
        padding-left: 1em;
    }

    .welcome{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(216, 216, 216);
    }

    .table{
        box-sizing: border-box; 
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

    }

    .send{
        box-sizing: border-box; 
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: initial;
        height: 4em;
        width: 4em;
        border-radius: 100%;
        border: solid 0.1em white;
    }

    .send:active{
        transition: 0.1s cubic-bezier(.32,-0.45,.68,1.48);
        height: 3.5em;
        width: 3.5em;
    }

    .square:hover{
    opacity: 1;
    border: solid 0.1em rgb(216, 216, 216);
    }