
body{
    all:unset;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    align-items: center;

    box-sizing: border-box;
    display: flex;

    flex-direction: column;
}

header{
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5em;
    width: 100%;

    background-color: rgb(14, 26, 199);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background-color: rgb(95, 95, 95);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: grey;
}

.a{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5em; /*50em */
    width: 20em; /*40em */

    background-color: #aa0606;
    border-radius: 0.5em;
    /* #eeebdd #810000 #630000 #1b1717 */
}

.contenedor {

    box-sizing: border-box; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 5em;
    width: 20em;
    border-radius: 2em;
    /* background-color: lawngreen; */
}

 /* .gradients1{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background: linear-gradient(90deg, transparent, teal, yellow);
}
.gradients2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background-color: teal;
    background: linear-gradient(to right, transparent, teal), linear-gradient(to left, transparent, yellow),

    yellow repeating-linear-gradient(transparent, transparent 0em,

    rgba(221, 0, 0, 0.5) 2em, teal 2em);
}
.gradients3{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background: linear-gradient(90deg, teal, yellow, transparent);
}  */

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(216, 216, 216);
    font-size: 0.7em;
}

.link{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;
    border-radius: 0.6em;
    border: solid 0.1em rgb(236, 236, 236);

    text-decoration: none;

    text-decoration: unset;
    
    /* #eeebdd #810000 #630000 #1b1717 */
}

.link:hover{
    transition: 1s cubic-bezier(.32,-0.45,.68,1.48);
    height: 4em;
    width: 4em;
    transform: rotate(360deg);
}

/* .text:hover{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 0.3em;
    width: 0.3em;
} */



    .divisorH{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;
    
        background-color: rgba(0, 128, 128, 0);
    }
    
    .square{
        box-sizing: border-box; 
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 1em;
        width: 1em;
        border-radius: 10%;
    
        text-decoration: unset;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(236, 236, 236);

        /* #eeebdd #810000 #630000 #1b1717 */
        
    }

    .box{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 4em;
        width: 4em;
    }
    .nombre{
        height: 2em;
        outline: none;
        border-radius: 0.6em;
        border: solid 0.1em white;
        color: white;
        background-color: rgba(0, 128, 128, 0);
        font-size: 1em;
        padding-left: 1em;
    }

    .welcome{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(216, 216, 216);
    }
    
    .table{
        box-sizing: border-box; 
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        border-radius: 0.5em;
        background-color: rgba(0, 128, 128, 0);
        /* box-shadow: 0em 0em 0.3em 0.2em rgb(141, 141, 141); */
        border: solid 0.1em rgb(255, 255, 255);

    }

    .send{
        box-sizing: border-box; 
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: initial;
        height: 4em;
        width: 4em;
        border-radius: 100%;
        border: solid 0.1em white;
    }

    .send:active{
        transition: 0.1s cubic-bezier(.32,-0.45,.68,1.48);
        height: 3.5em;
        width: 3.5em;
    }

    .square:hover{
        opacity: 1;
        border-radius: 25%;
        border: solid 0.1em rgb(216, 216, 216);
    }

    