/* COMMON */
body{
    all:unset;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 100%;

    background-color: #E9EAEC;
}

main{
    display: flex;

    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    /* background-color: blue; */
    background-color: #E9EAEC;
    /* background-image: linear-gradient(to right, transparent, grey 15%, grey 85%, transparent); */
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    border-top: solid 0.05em #4d4d4d;
    height: 4em;
    width: 100%;
    background-color: #E9EAEC;

}

nav{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

 /*50em */
    width: 20em; /*40em */

    /* background-color: grey; */
    border-radius: 0.5em;
    /* #eeebdd #810000 #630000 #1b1717 */
}

.contenedor{

    box-sizing: border-box; 
    display: flex;

    align-items: center;
    flex-direction: row;

    border-radius: 2em;
    /* background-color: lawngreen; */
}


 /* .gradients1{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background: linear-gradient(90deg, transparent, teal, yellow);
}
.gradients2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background-color: teal;
    background: linear-gradient(to right, transparent, teal), linear-gradient(to left, transparent, yellow),

    yellow repeating-linear-gradient(transparent, transparent 0em,

    rgba(221, 0, 0, 0.5) 2em, teal 2em);
}
.gradients3{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 44em;
    width: 50em;

    background: linear-gradient(90deg, teal, yellow, transparent);
}  */

/* TEXT OF HYPERLINKS*/

.text{
    font-family: 'Open Sans';
    color: #333652;
    font-size: 1em;
    text-decoration: none;
}

.text1{
    align-items: center;
    font-family: 'Open Sans';
    color: #333652;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

.text2{
    font-family: 'Open Sans';
    color: #333652;
    font-size: 4em;
    text-decoration: none;
}

.link{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 7em;

    border-right: solid 0.1em #333652;
    text-decoration: none;

    
    /* #eeebdd #810000 #630000 #1b1717 */
}
.link1{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 7em;

    text-decoration: none;
    border-right: solid 0.1em #333652;
    border-left: solid 0.1em #333652;

    
    /* #eeebdd #810000 #630000 #1b1717 */
}

.link:hover .text{
    transition: 0.2s cubic-bezier(.32,-0.45,.68,1.48);
    color: rgb(255, 255, 255);
} 
.link1:hover .text{
    transition: 0.2s cubic-bezier(.32,-0.45,.68,1.48);
    color: rgb(255, 255, 255);
} 
/* .text:hover{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    height: 0.3em;
    width: 0.3em;
} */

    /* INDEX */
.inputBox{
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    flex-direction: column;

    height:100%;
    border-radius: 2em;
    /* background-color: lawngreen; */
}

.divisorH{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    
    background-color: rgba(0, 128, 128, 0);
}

.square{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 1em;
    width: 1em;
    border-radius: 10%;
    
    text-decoration: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);

    /* #eeebdd #810000 #630000 #1b1717 */
        
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nombre{
    height: 2em;
    width: 25em;
    outline: none;
    border-radius: 0.6em;
    border: solid 0.1em #333652;
    color: #333652;
    background-color: rgba(0, 128, 128, 0);
    font-size: 1em;
    padding-left: 1em;
}
#nombre:hover{
    transition: 0.2s cubic-bezier(.32,-0.45,.68,1.48);
    border-color: #333652;
    box-shadow: 0em 0em 0.2em 0.1em #4e537c;
}

    
.table{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
    width: 100%;

    border-radius: 0.5em;
    background-color: rgba(0, 128, 128, 0);
    /* box-shadow: 0em 0em 0.3em 0.2em rgb(141, 141, 141); */
    border: solid 0.1em #333652;

}

.send{
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    height: 4em;
    width: 4em;
    font-size: 1em;
    margin: 1em;
    border-radius: 50%;
    border: none;
    background-color: #333652;
}

.send:active{
    transition: 0.1s cubic-bezier(.32,-0.45,.68,1.48);
    background-color: #484c72;
}

.square:hover{
    opacity: 1;
    border-radius: 25%;
    border: solid 0.1em #333652;
}

    
    /* PORTFOLIO */

.youtube{
    box-sizing: border-box;

    height: 15em;
    width: 20em;
    border-radius: 0.6em;
    border: solid 0em #333652;
    margin: 1em;
}


.projectBox{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;

    height: 100%;
    width: auto;
}
    
.n64{
    box-sizing: border-box;
    height: auto;
    width: 20em;
    border: solid 0em #333652;
    border-radius: 0.6em;
}

    
    /* ABOUT ME */

.storyBox{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center */

    height: 100%;

}

.picture{
    width: 20em;
    border-radius: 50%;
    border: none;
    box-shadow: 0em 0em 0.4em 0.1em #333652;
}

#story{
    display: flex;
    text-align: center;
}

/* CONTACT */

.contactBox{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

form{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}

@media (max-width: 50em){
    .footer{
        flex-direction: column;
    }

    .projectBox{
        flex-direction: column;
    }
}